files:
  "/etc/nginx/conf.d/custom.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        server_name mydomain.com;
        location / {
            root /var/app/current/public;  # Ensure this path matches your static files directory
            try_files $uri $uri/ /index.html;
        }
      }
