html, body {
	background-color: oklch(var(--b1));
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	color: #333;
    font-family: sans-serif;
    line-height: 1.6;
}
form {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin: auto;
}
input, button {
	margin: 0.5em 0;
	padding: 0.5em;
}
